<div class="card w-75 container">
  <div class= "card-header row">
    <h5 class="card-title col-3">{{title}}</h5>  
    <p class="text-right col-9">Posted by: {{user.username}} on {{format_date}}</p>
  </div>  
  <p class="card-body card-text">{{content}}</p>
</div>