<form class="container w-50 card signup-form">
  <h3 class="title  d-flex justify-content-center">Create an Account</h3>
  <div class="form-group row">
    <label for="username-signup" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username-signup">
    </div>
  </div>
  <div class="form-group row">
    <label for="password-signup" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password-signup">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Sign up</button>
      <a class="btn btn-secondary" href="/login" role="button">Already have an account? Login here!</a>
    </div>
  </div>
</form>

<script src="/js/login.js"></script>
{{!-- <script src="/public/js/login.js"></script> --}}